{% for conf in isis %}
set interface {{ conf.interface }} family iso 
set protocols isis interface {{ conf.interface }} point-to-point
set protocols isis interface {{ conf.interface }} level 1 disable
set protocols isis interface {{ conf.interface }} level 1 metric 100
set protocols isis interface {{ conf.interface }} level 2 metric 100
set protocols isis interface {{ conf.interface }} apply-groups GR-ISIS
set protocols isis interface {{ conf.interface }} bfd-liveness-detection detection-time threshold 5
set protocols isis interface {{ conf.interface }} bfd-liveness-detection minimum-interval 2
set protocols isis interface {{ conf.interface }} bfd-liveness-detection minimum-receive-interval 1
set protocols isis interface {{ conf.interface }} bfd-liveness-detection no-adaptation
set protocols isis interface {{ conf.interface }} bfd-liveness-detection transmit-interval threshold 3
set protocols isis interface {{ conf.interface }} bfd-liveness-detection transmit-interval minimum-interval 1
set protocols isis interface {{ conf.interface }} bfd-liveness-detection multiplier 2
set protocols isis interface {{ conf.interface }} bfd-liveness-detection version automatic

{% endfor  %}
